* {
  margin: 0;
  padding: 0;
}
//inicio hamburger icon
.menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #036e81;
  height: 60px;
}
.menu-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   a {
     text-decoration: none;
     font-size: 30px;
     color: rgb(15, 12, 22);
   }

}

.sub-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #042b31;
  height: 60px;
}
.sub-menu-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   a {
     text-decoration: none;
     font-size: 20px;
     color: rgb(238, 238, 238);
   }
}
//final hamburger icon

//inicio de header
.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-image: url("images/H123.jpg");
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  .header-page-title{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
  }
  .header-page-description {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    color:white;

  }
}
//final de header

//inicio de accordion
.main-accordion-container{
  .accordion-item{
    background: #042b31;
    display: flex;
    align-items: center;
    border: 2px solid black;
    flex-direction: column;
    padding: 0 10px 0 10px;
  
  .accordion-desc {
    display: none;
    background: #5f5f5f;
    padding: 15px;
    margin-top: 15px;
    width: 90%;
  }
  .accordion-title{
    color: white;
    font-family: Arial;
    font-size: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-decoration: blanchedalmond;
  }
   &.tab-active {
    .accordion-desc {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
    }
  }
  } 
}
  
//final de accordion
main{
  display: flex;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  background-image: url("images/H123.jpg");
  
  .container-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text-container-1{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;     
      P{
        text-align: justify;
        width: 90%;
        padding-bottom: 10px;
        padding: 10px 0px 10px 0px;

      }
    }
    .container-1-img{
      img{
        width: 98%;
        display: flex;
        padding: 10px 10px 10px 10px;
        &:hover{
          transform: skewY(2deg);
        }
      }
    }
  }
}
//inicio de wrap

//final de wrap

//inicio Cards
.card-list{
  background-image: url("images/H123.jpg");
  background-position-x: center;
  background-position-y: top;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;

  .card-item {
    width: 27%;
    height: auto;
    border-radius: 5px;
    padding-bottom: 30px;
    box-shadow: 2px 2px 11px -1px black;
    margin-bottom: 30px;
  
    overflow: hidden;
    background: #036e81;

    &:hover{
      transform: scale(1.05);
    }


    img {
      width: 100%;
      margin-bottom: 10px ;
      max-height: 300px;
      min-height: 250px;
     
    }

   .card-info{
     padding: 0 10px;
     display: flex;
     flex-direction: column;
     flex: 1 0;
     justify-content: space-around;   
   

   .card-title{
     font-size: 10px;
     font-weight: bold;
     font-family: 'Helvetica';
     margin-bottom: 10px;
   }

   .card-desc{
    font-family: 'Helvetica';
    font-size: 16px;
   }

   .card-cta{
     text-decoration: none;
     display: block;
     text-align: right;
     font-family: 'Helvetica';
     font-size: 20px;
     border-top: solid 1px black;
     padding-top: 10px;
     margin-top: 30px;

   }
  }

  }
}
//termina card

//inicio de footer
.footer-container {
display: flex;
flex-direction: column;
justify-content: space-around;
background-image: url("images/H123.jpg");
height: 120px;

.footer-list {
display: flex;
flex-direction: row;
justify-content: space-around;
p{
  text-decoration: none;
  font-size: 25px;
}
}
.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 30px;
  p{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
}
}
//final de footer

@media (max-width: 991px) {

  //Inicio de Hamburger icon
  .menu-container {
    
    padding: 0 15px;
    justify-content: flex-end;
    position: relative;
    background: rgb(175, 101, 245);

    .hamburger-icon {
      width: 35px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      span{
        height: 4px;
        width: 100%;
        background: white;
        display: block;
        border-radius: 2px;
      }
    }
    .menu-list {
      display: none;
    }
  }
.menu-container.menu-open {
  .menu-list{
    z-index: 100;
    border: 2px solid black;
    width: 200px;
    padding-top: 120px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: left;
    text-align: center;
    background: rgb(175, 101, 245);
    border-radius: 15px;
    a {
      padding-top: 5px;
      padding-bottom: 5px;
      color: black;
    }

  }
}

  .sub-menu-container {
    padding: 0 15px;
    justify-content: flex-start;
    position: relative;
    background: blueviolet;

    .sub-hamburger-icon {
      width: 35px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      
      
      span{
        height: 4px;
        width: 100%;
        background: white;
        display: block;
        border-radius: 2px;
      }
    }
    .sub-menu-list{
      display: none;
    }
  }
.sub-menu-container.sub-menu-open {
  .sub-menu-list{
    z-index: 100;
    border: 2px solid black;
    width: 200px;
    padding-top: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: left;
    text-align: center;
    background: blueviolet;
    border-radius: 15px;
    a {
      padding-top: 5px;
      padding-bottom: 5px;
      color: black;
    }

  }
}
//final hamburger icon
//inicio de header
.main-header {
  background-image: url("images/J123.jpg");
  
  .header-page-title{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    font-size: 25px;
  }
  .header-page-description {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:black;

  }
}
//final de header

//inicio de accordion
.main-accordion-container{
  .accordion-item{
    background: blueviolet;
    border: 1px solid black;
  }
  .accordion-desc {
    font-size: 20px;
    width: 100%;
    text-align: justify;
   
  }
  .accordion-title{
    width: 95%;
    padding: 15px 0px 15px 0px;
    text-align: center;
  }

  &.tab-active {
    .accordion-desc {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  }
  //final de accordion
  main{
    display: flex;
    border: solid 2px black;
    background-image: url("images/J123.jpg");
    
  }
  
//inicio Cards
.card-list{
  background-image: url("images/J123.jpg");

  .card-item {
    width: 45%;
    height: auto;
    margin-bottom: 20px;
    background: rgb(175, 101, 245);
    img {
      min-height: 200px;     
    }

  }
}
//termina card
//inicio de footer
.footer-container {
  background-image: url("images/J123.jpg");
  .footer-list {
  p{
    text-decoration: none;
    font-size: 18px;
  }
  }
  .footer-info {
    p{
      font-size: 15px;
    }
  }
  }
  //final de footer

}

@media (max-width: 700px) {

  .main-header {
    .header-page-title{
      font-size: 17px;
    }
    .header-page-description {
      font-size: 14px;
    }
  }
  //final de header

  .card-list{
    .card-item{
      img {
        margin-bottom: 5px;
        max-height: 200px;
        min-height: 150px;
      }
      .card-info{
        .card-title{
          font-size: 15px;
        }
        .card-desc{
          font-size: 14px;
        }
        .card-cta{
          font-size: 16px;
        }
      }
    }
  }
//inicio de footer
.footer-container {
  .footer-list {
    flex-direction: column;
    align-items: center;
  p{
    font-size: 18px;
  }
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    p{
      font-size: 16px;
    }
  }
  }
  //final de footer
}

@media (max-width: 450px){
  .card-list{
    background-image: url("images/J123.jpg");
    .card-item{
      width: 85%;

      img{
        max-height: 270px;
        min-height: 200px;
      }
    }
  }
}
  